<!DOCTYPE html>
<html>

<head>
    <title>Welcome Book Lovers</title>
    <link rel="stylesheet" href="../public/styles/reset.css" type="css/text">
    <link rel="stylesheet" href="../public/styles/base.css" type="css/text">
</head>

<body>
    <main>
        <form action="" method="get" class="author"></form>
        <div class="userinput">
            <label for="author">Search: </label>
            <input type="text" name="author" id="author">
        </div>
        <form method="post">
            <fieldset>
                <label><input type="radio" name="author">Author</label>
                <label><input type="radio" name="title">Title</label>
            </fieldset>
            <button>Submit</button>
        </form>

    </main>

</body>

</html>