<!DOCTYPE html>
<html>
    <head>
        <title>Error Page</title>
            <link rel="stylesheet" href="../public/styles/styles.css" type="text/css">
        </head>
    <main>
        <body>
        
        </body>
    </main>
</html>
