<!DOCTYPE html>
<html>

<head>
    <title>Book Shelf App</title>
    <link rel="stylesheet" href="../public/styles/styles.css" text = "text/css">
</head>

<body>
    <main>
        <h1>Hello World</h1>
    </main>
</body>

</html>